# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Databases and secrets
*.sqlite
*.db
*.pfx
*.env

# OS files
.DS_Store
Thumbs.db

db/local_dev.sqlite
